.conflictToken {
    width: 20px;
    height: 20px;
    background-color: brown;
    font-weight: bold;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
}