.conflictToken {
    width: 20px;
    height: 20px;
    background-color: brown;
    font-weight: bold;
    color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    pointer-events: none;
}

.canBeSelected {
    color: red;
    cursor: pointer;
    pointer-events: auto;
}