.tieBreakerToken {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: brown;
    border: 3px solid red;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.tieBreakerUsed {
    filter: grayscale(1);
}