
.toggleButton {
    padding: 4px;
    border-radius: 4px;
    background: brown;
    color:yellow;
    font-weight: bold;
    width: 80px;
    text-align: center;
    cursor: pointer;

    position: absolute;
    left: 5px;
    top: 5px;
}