.monumentsSelection {
    display:  flex;
    justify-content: center;

    .monumentContainer {
        margin: 10px;
        padding: 15px;
        border: 3px solid brown;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    .isSelecting {
        &:hover {
            border-color: salmon;
        }
    }

    .isSelected {
        border-color: red;
    }

    .costContainer {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .cost {
        color: brown;
        font-weight: bold;
        margin-right: 3px;
    }

    .followerImgContainer {
        background: darkgreen;
        border-radius: 50%;
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px
    }

    .followerImg {
        filter: invert(1);
    }
}